* {
	box-sizing: border-box;
	margin: 0 auto;
}

body {
	font-family: 'Noto Serif', serif;
}

h2 {
	font-size: 30px;
	margin-bottom: 30px;
	font-weight: 900;
	text-align: center;
	color: #657a00;
}

.container {
	height: 600px;
	margin: 0 auto;
	background: url("https://i.ibb.co/MBsjxm0/image-1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	width: 600px;
	padding: 30px;
}

div {
	margin-bottom: 15px;
}

input {
	float: right;
	border: none;
	border-radius: 20px;
	font-size: 15px;
	padding: 6px;
	margin-top: 5px;
}
label {
	font-size: 29px;
	font-weight: 600;
	color: #201d3a;
	text-transform: capitalize;
}

span {
	font-size: 20px;
}

.label2 {
	margin-right: 95px;
}

.label3 {
	margin-right: 65px;
}

.submit {
	text-align: center;
	font-size: 20px;
}

button {
	border: 1px solid transparent;
	border-radius: 30px;
	background: #e62739;
	padding: 6px 15px;
	color: #fff;
}
button:hover{
	color: #e62739;
    background: transparent !important;
    border-color: #e62739;
    transition:  0.2s;
    transform: translateY(4px);
    border:1px solid #e62739;
}
#output {
	display: none;
}

.label4 {
	font-size: 22px;
	margin-right: 98px;
}

.label5 {
	margin-right: 208px;
}

.reset_button {
	text-align: center;
}

.reset {
	padding: 5px 20px;
	font-size: 20px;
}