/*Mobile device*/
@media screen and (min-device-width:320px) and (max-device-width:768px){
	body{
		 width: 80%;
		 height: 785px;
	}
	.header{
		float: none;
		  margin-top: 60px;
		  margin-left: 20px;
		  margin-right: 20px;
		  width: 140%;
	}
	.header h2{
		  margin:5px;
		  font-size: 30px;
	}
	ul li {
  margin-left: 20px;
  margin-right: 20px;
  width: 140%;
  cursor: pointer;
  position: relative;
  font-size: 18px;
}
}

/*laptop device*/
@media screen and (min-device-width:768px) and (max-device-width:1030px){
	body{
		 width: 80%;
		 height: 650px;

	}
}