@media screen and (min-width: 320px) and (max-width: 1024px){
	#case-1{
		display: none;
	}
	#case-2{
		display: block;		
 	}
}
@media screen and (min-width: 1024px) and (max-width: 5300px) { 
	#case-1{
		display: block;
	}
	#case-2{
		display: none;		
	}
}